<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Presentation Viewer</title>
    <script src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="/bootstrap.min.css">
    <!-- <script src="/pdf.min.js"></script> -->
    <!-- <script src="/pdf.worker.min.js"></script> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.10.377/pdf.min.js"></script> -->

    <style>
        #pdfViewer {
            width: 100%;
            /* height: 90vh; */
            border: 5px solid black;
            margin-top: 10px;
            border-radius: 10px;  
        }
    </style>
</head>

<body>
    <div class="containerss">
        <div class="rowss">
            <div class="col-md-12">
                <canvas id="pdfViewer"></canvas>
            </div>
        </div>
    </div>

    <script src="/pdf.min.js"></script>
    <script src="/pdf.worker.min.js"></script>
    <script>
        const socket = io();
        const room = '<%= room %>';
        const url = '/presentation/<%= room %>';
        const canvas = document.getElementById('pdfViewer');
        const context = canvas.getContext('2d');
        let pdfDoc = null;
        let pageNum = 1;

        socket.emit('joinRoom', room);

        pdfjsLib.GlobalWorkerOptions.workerSrc = 'pdf.worker.min.js';

        pdfjsLib.getDocument(url).promise.then(pdf => {
            pdfDoc = pdf;
            renderPage(pageNum);
        });

        function renderPage(num) {
            pdfDoc.getPage(num).then(page => {
                const viewport = page.getViewport({
                    scale: 5
                });
                canvas.width = viewport.width;
                canvas.height = viewport.height;

                const renderContext = {
                    canvasContext: context,
                    viewport: viewport
                };
                page.render(renderContext);
            });
        }

        socket.on('slide', index => {
            pageNum = index;
            renderPage(pageNum);
        });
    </script>
</body>

</html>
